/* Tooltips */

a.an-tooltip {
	display: inline-block;
	padding: 0 5px;
	text-decoration: none;
	cursor: help;
	color: #444;
	border: 1px solid #dddddd;
	border-radius: 50%;
}
#an-tooltip-active {
	position: absolute;
	width: 180px;
	border: 1px solid #333;
	background-color: #161616;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
}

/* Shortcodes */

.an-shortcode-container {
	padding: 15px 0;
	margin-bottom: 15px;
	font-size: 14px;
	text-align: center;
	background: #f7f7f7;
	font-family: monospace;
	border: 1px solid #ccc;
}

.an-lead {
	font-size: 135%;
}

/* Meta Box */

#an-shortcode-form-container {
	// 	max-width: 440px;
	// 	min-height: 370px;
	background: #fff;
	padding: 15px;

	/* Tool Tabs */
	#an-tool-selector {
		select#an-tab-links {
			margin: 0 0 30px 0;
			width: 100%;
			// 			color: #fff;
			// 			padding: 5px 15px 5px 45px;
			padding: 5px 15px;
			font-size: 16px;
			font-weight: bold;
			// 			background-color: #79a513;
			// 			background-image: url(../img/logo.png);
			// 			background-position: center left;
			// 			background-size: 35px 35px;
			option {
				span {
					font-size: 24px;
				}
			}
		}
	}

	/* Help */

	.an-custom-field-help {
		margin: 20px 0 0 0;
		// 		padding: 10px;
		// 		border: 1px solid #DDDDDD;
		// 		background: #F9F9F9;
		p {
			margin: 0 0 12px 0;
		}
		textarea {
			font-size: 10px;
			width: 100%;
		}
		a.button {
			float: right;
			margin-left: 40px;
		}
	}
}

/* Meta Box & Widgets */

#an-shortcode-form-container {
	/* Groups */

	fieldset.an-parameter-group {
		// 		width: 420px;
		margin: 10px 0 20px 0;

		legend {
			display: block;
			padding: 7px;
			width: 95%;
			font-weight: lighter;
			font-size: 14px;
			border: 1px solid #dddddd;
			background: #f9f9f9;
			border-radius: 5px;
			cursor: pointer;
		}
		.an-parameter-group-content {
			p {
				margin: 10px 0 0 0;
			}
		}
	}

	/* Inputs */
	.control-group {
		position: relative;
		margin: 3px 0;
		padding: 3px;
		width: 400px;

		&:nth-child(2n) {
			background: #f9f9f9 !important;
		}

		label {
			display: block;
			padding: 3px;
			float: left;
			width: 190px;
			font-weight: bold;
		}

		.controls {
			select,
			input[type="text"] {
				width: 180px;
			}

			a.an-tooltip {
				position: absolute;
				top: 6px;
				right: 0;
				cursor: help;
				text-decoration: none;
			}
		}
	}
}

/* Settings Page */

#an-options-container {
	position: relative;
	margin-right: 20px;
	max-width: 850px;

	.nav-tab-wrapper {
		position: relative;
		border-bottom: none;
		.nav-tab {
			&.nav-tab-help,
			&.nav-tab-active {
				position: relative;
				bottom: -1px;
				border-bottom: none;
				background: #fff;
			}
			&.nav-tab-help {
				float: right;
				background: #f7f7f7;
			}
		}
	}

	.an-notice {
		margin-left: 0;
	}

	#an-settings-tabs {
		background: #fff;
		border: 1px solid #ccc;

		//Typeography
		h2 {
			font-size: 18px;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #8c8f94;

			// 			&:first-child {
			// 				margin-top: 0;
			// 			}
		}

		input[type="submit"] {
			padding: 5px 15px;
			font-size: 16px;
			&[disabled] {
				cursor: not-allowed;
			}
		}

		p.lead {
			margin: 15px 0 30px 0;
			padding-bottom: 15px;
			font-size: 18px;
			border-bottom: 1px solid #ccc;
		}

		code {
			border: 1px solid #ccc;
		}

		//Tab	content
		.an-tab-content {
			float: left;

			//Left
			&.an-tab-left {
				width: 63%;
				padding: 2%;
			}

			//Right
			&.an-tab-right {
				padding: 2%;
				width: 29%;
				background: #f7f7f7;
				box-shadow: -3px 3px 3px -3px rgba(0, 0, 0, 0.26);
				border-bottom-left-radius: 5px;
			}

			//Shortcode Form
			&#an-shortcode-form {
				width: 29%;
				background: #f7f7f7;
				> h2 {
					margin: 10px 15px;
				}
				> p {
					margin: 15px;
					margin-bottom: 0;
				}
				.lead {
					font-size: 18px;
					margin-top: 0;
				}

				#an-shortcode-form-container {
					background: transparent;
					legend {
						background: #fff;
					}
					.control-group {
						width: unset;
						.control-label {
							float: none;
						}
						.controls {
							input.an-error {
								border: 2px solid red;
							}
						}
					}
				}

				input[type="submit"] {
					margin-left: 15px;
					margin-bottom: 15px;
				}
			}

			//Embed Content / Shortcode Preview
			&#an-shortcode-preview {
				width: 65%;
				padding: 1%;
				background: #fff;
			}

			//Welcome
			&#an-welcome {
				p {
					display: block;
				}
			}

			//Plugin about
			&#an-about {
				.an-notice {
					padding: 0;
					text-align: center;
					font-weight: bold;
					p {
						a {
							height: 40px;
							line-height: 40px;
							color: #00a32a;
						}
					}
				}

				p {
					margin-top: 0;
					font-size: 15px;
					&.an-lead {
						padding-top: 0;
						height: 145px;
						font-size: 18px;
						line-height: 1.2em;
						b {
							display: block;
							font-size: 20px;
							margin-bottom: 10px;
						}
					}
				}

				img {
					width: 120px;
					height: 120px;
					margin-right: 10px;
					float: left;
					border-radius: 50%;
				}

				a.button {
					margin-bottom: 5px;
				}
				footer {
					float: right;
					color: #999;
				}
			}
		}
	}

	//Form tables... yuk!
	#an-settings-general,
	#an-settings-legacy {
		table.form-table {
			display: block;
			margin-bottom: 45px;
			tbody,
			tr,
			th,
			td {
				margin: 0;
				padding: 0;
				display: block;
			}
			th[scope="row"] {
				margin: 20px 0 5px 0;
				width: 170px;
			}
			select,
			input[type="text"] {
				width: 180px;
				border-style: solid;
				border-width: 1px;
				border-color: #dddddd;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
			}
		}
	}
}
